{% extends "layout.html" %}
{% load i18n %}
{% block title %}The Jokko Initiative - A RapidSMS Project by Tostan{% endblock %}
{% block content %}

<div class="module">
<h1>{% trans "Welcome!" %}</h1>

<h4><i>{% trans "What would you like to do?" %}</i></h4>

<table padding='10' align="center"><tr>
<td>
	<a href="{% url smsforum.views.visualize %}">
	<img src="/static/tostan/images/visualize.png"/><br/>
		{% trans "Visualize the messages and the citizens of one or a group of communities" %}
	</a>
</td>
<td>
	{% if perms.contacts.change_contact %}
	<a href="{% url 404 %}">
	<img src="/static/tostan/images/message.png"/><br/>
		{% trans "Send an SMS message to one or a group of communities" %}
	</a>
	{% endif %}
</td></tr><tr>
<td>
	<a href="{% url export %}">
	<img src="/static/tostan/images/export.png"/><br/>
		{% trans "Export data to Excel" %}
	</a>
</td>
<td>
	{% if perms.smsforum.add_community or perms.smsforum.change_community or perms.smsforum.delete_community or perms.tagging.add_tag or perms.tagging.change_tag or perms.tagging.delete_tag %}
	<a href="{% url smsforum.views.manage %}">
	<img src="/static/tostan/images/manage.png"/><br/>
		{% trans "Manage communities, citizens, and messages" %}
	</a>
	{% endif %}
</td></tr>
</table>

<h4>
<a href="{% url help %}">
	{% trans "SMS Command Reference" %}
</a>
<p>
<a href="{% url 404 %}">
	{% trans "Credits and Contacts" %}
</a>
</h4>
</div>
{% endblock %}
