{% load i18n %}
<div class="module">
	<h3>{% trans  "Filtre sur le Calendrier" %}</h3>
	<table>
	        <tr>
			
			      <td>
			        <form  name = ''  method ="POST">
					<ul>
					<li> {% trans "Cordinations" %}
					<select name='cordination'>
								<option value=''>--</option>
								<option value='all'>all</option>
								{% for item in cordination_options.items   %}
								   <option  value ='{{ item.0 }}'
								    {% ifequal cordination_selected item.0  %} selected {% endifequal %}>
								    	{{ item.1 }}
								    </option>
								{% endfor %}
						</select>
                                        </li>  
					<li> {% trans "Projects" %}
					<select name='project'>
									<option value=''>--</option>
									<option value='all'>all</option>
									{% for item in project_options.items   %}
									   <option  value ='{{ item.0 }}' 
									   {% ifequal project_selected item.0 %} selected {% endifequal %}>
									   {{ item.1 }}
									   </option>
									{% endfor %}
						</select>

                                         </li>
					  <li> {% trans "Villages" %}
						<select name='village'>
									<option value=''>--</option>
									<option value='all'>all</option>
									{% for sv in village_options %}
									   <option  value ='{{ sv.village__pk }}'
									   {% ifequal village_selected sv.village__pk %} selected {% endifequal %}>
									   	{{ sv.village__name }}
									   </option>
									{% endfor %}
						</select>	
					  </li>
					  <li> {% trans "Actors" %}
						<select name='actor'>
									<option value=''>--</option>
									<option value='all'>all</option>
									{% for item in actor_options.items   %}
									   <option  value ='{{ item.0 }}'  {% ifequal  actor_selected item.0  %} selected {% endifequal %}>
									   		{{ item.1 }}
									   </option>
									{% endfor %}
						</select>
					  </li>
					  <li>
 						<input  type ="submit"  values ="{% trans 'Filtre messages' %}"/>
					
					  </li>
					</ul>
					<form>
					</td>
					<td>
					<ul>
						<li>Survole sur les evenements pour visualiser les messages</li>
					        <li>Cliquer sur les evenements pour les marquer comm lus (Rouge ,lu)(Blue , a lire)</li>
					</ul>
					</td>
                        </tr>

</table
</div>
<h3>{% trans "Calendrier des messages" %}</h3>
<div class ='module'>	
{% include "rapidsuivi/partials/calendar_ui.html" %}
							
</div>



