<style type='text/css'>
	#calendar {
		width: 800px;
        }
	.message_readed, 
        .fc-agend a .message_readed .fc-event-time,
        .message_readed a
         {
          background-color: red; /* background color */
       
         }

</style>
<script type='text/javascript'>
   $(document).ready(function(){
    /*$.getJSON("/test",function(data){
	 $.each (data , function () {
                alert (data);
             })
    });
    */
    event_data =[]
    var i = 0
    {% for item  in data %}
        event_data[i] = 
            {"title":"{{ item.title }}" ,
             "url" :"{{ item.url }}",
             "start":"{{ item.start }}",
             "className":"message_readed",
             "current_message":"{{item.current_message}}"}
        i= i +1
    {% endfor %}
    $('#calendar').fullCalendar({
    	/*editable: true,*/
   	 events:event_data,
    	/* eventClick: function(event){
              if (event.url) {
                  window.open(event.url);
                  return false;
              }
         },*/
     	 eventRender: function (event , el){
		var content_ =""
		content_+="<form  action  =\"/update_message_status"+event.current_message.pk+"\" method =\"post\">"
		content_+="<p>Message :"+event.current_message+"</p>"
		//content_+="<p><input type =\"submit\"  value =\"LU\"/>(Clicker ici pour le marquer comme lu(ROUGE))</p>"
		content_+="</form>"
		el.qtip({
		content:content_,
		position: {corner: {tooltip: 'bottomLeft', target: 'topRight'}},
                style   : {
                                                    width:400,
                                                    padding: 5,
                                                    background: '#FFF',
                                                    color: 'black',
                                                    textAlign: 'let',
                                                    border: {
                                                        width: 7,
                                                        radius: 5,
                                                        color: '#009CEB'
                                                    },
                                                    tip: 'bottomLeft',
                                                    name: 'dark' // Inherit the rest of the attributes from the preset dark style
 
                }});
              
		}

	}	
 );


});
</script>
<div id='calendar'></div>
