<style type='text/css'>
	#calendar {
		width: 800px;
</style>
<script type='text/javascript'>
   $(document).ready(function(){
    /*$.getJSON("/test",function(data){
	 $.each (data , function () {
                alert (data);
             })
    });
    */
    event_data =[]
    var i = 0
    {% for item  in data %}
        event_data[i] = 
            {"title":"{{ item.title }}" ,
             "url" :"{{ item.url }}",
             "start":"{{ item.start }}",
             "current_message":"{{item.current_message}}"}
        i= i +1
    {% endfor %}
    $('#calendar').fullCalendar({
    	/*editable: true,*/
   	 events:event_data,
    	/* eventClick: function(event){
              if (event.url) {
                  window.open(event.url);
                  return false;
              }
         },*/
     	 eventRender: function (event , el){
		el.qtip({
		content:'<i>' +  event.current_message +'</i>',
		position: {corner: {tooltip: 'bottomLeft', target: 'topRight'}},
                style   : {
                                                    width: 200,
                                                    padding: 5,
                                                    background: '#66CCFF',
                                                    color: 'black',
                                                    textAlign: 'center',
                                                    border: {
                                                        width: 7,
                                                        radius: 5,
                                                        color: '#009CEB'
                                                    },
                                                    tip: 'bottomLeft',
                                                    name: 'dark' // Inherit the rest of the attributes from the preset dark style
 
                }
                });
		}
	}	
 );


});
</script>
<div id='calendar'></div>
