<style type='text/css'>
	#calendar {
		width: 800px;
        }
	.message_readed, 
        .fc-agend a .message_readed .fc-event-time,
        .message_readed a
         {
          background-color: red; /* background color */
       
         }
</style>
<script type='text/javascript'>
   $(document).ready(function(){
    /*$.getJSON("/test",function(data){
	 $.each (data , function () {
                alert (data);
             })
    });
    */
    event_data =[]
    var i = 0
    {% for item  in data %}
        event_data[i] = 
            {"title":"{{ item.title }}" ,
             "status_url" :"{{ item.url }}",
             "start":"{{ item.start }}",
            // "className":"message_readed",
             "current_message":"{{item.current_message|safe}}"}
            //Si le message est deja lu ,il doit etre rouge sinon bleue
	    {% if item.is_read %}
		event_data[i]['className']="message_readed"
	    {% endif %}
	  i= i +1
    {% endfor %}
    $('#calendar').fullCalendar({
    	/*editable: true,*/
   	 events:event_data,
     	 eventRender: function (event , el){
		var content_ =""
		content_+= "<form action ='" +event.status_url+ "/calendar' method ='post'>"
		content_+= event.current_message
		content_+="<br/><input type ='submit' value ='MARQUER LU'/>"
		content_+="</form>" 
		el.qtip({
		content:content_,
		show: {
		when: {event: 'click'}
		},
                hide: {
		when :{event:'click'}
		},
		position: {corner: {tooltip: 'bottomLeft', target: 'topRight'}},
                style   : {
                                                    width:400,
                                                    padding: 5,
                                                    background: '#FFF',
                                                    color: 'black',
                                                    textAlign: 'let',
                                                    border: {
                                                        width: 7,
                                                        radius: 5,
                                                        color: '#009CEB'
                                                    },
                                                    tip: 'bottomLeft',
                                                    name: 'dark' // Inherit the rest of the attributes from the preset dark style
 
                }});
              
		}

	}
 );


});
</script>
<div id='calendar'></div>
