{% load i18n %}
<div>
	<table>
	        <tr>
			
			      <td>
			        <form  name = ''  method ="POST">
					<p>
						<fieldset>
						<legend> {% trans "Cordinations" %}</legend>
						<select name='cordination'>
								<option value=''>--</option>
								<option value='all'>all</option>
								{% for item in cordination_options.items   %}
								   <option  value ='{{ item.0 }}'>{{ item.1 }}</option>
								{% endfor %}
						</select>
						</fieldset>
					</p>
					<p>	
							<fieldset>
							<legend> {% trans  "Projects" %}<legend>
							<select name='project'>
									<option value=''>--</option>
									<option value='all'>all</option>
									{% for item in project_options.items   %}
									   <option  value ='{{ item.0 }}'>{{ item.1 }}</option>
									{% endfor %}
							</select>
							</fieldset>
					</p>
						
					<p>
							<fieldset>
							<legend> {% trans "Villages"  %}</legend>
							<select name='village'>
									<option value=''>--</option>
									<option value='all'>all</option>
									{% for item in village_options.items   %}
									   <option  value ='{{ item.0 }}'>{{ item.1 }}</option>
									{% endfor %}
							</select>
							</fieldset>
					</p>
					
					<p>
							<fieldset>
							<legend>{% trans "Actors" %} ++++++++++++{{ actor_selected }}</legend>
							<select name='actor'>
									<option value=''>--</option>
									<option value='all'>all</option>
									{% for item in actor_options.items   %}
									   <option  value ='{{ item.0 }}'  {% ifequal  actor_selected item.0  %} selected {% endifequal %}>
									   		{{ item.1 }}
									   </option>
									{% endfor %}
							</select>
							</fieldset>
							
						<br/>
 						<input  type ="submit"  values ="{% trans 'GO' %}"/>
					</p>
					<form>
					</td>
					<td>
					  Le calendrier
					</td>
			</tr>
	</table>
</div>



