{% extends "layout.html" %}
{% load i18n %}
{% block title %}The Jokko Initiative - A RapidSMS Project by Tostan{% endblock %}
{% block stylesheets %}
		<link type="text/css" rel="stylesheet" href="/static/indicator/stylesheets/layout.css" />
		<link type="text/css" rel="stylesheet" href="/static/webui/stylesheets/modules.css" />
{% endblock %}

{% block content %}
<div class  ='module'>
<h2>{% trans "Creer une commune arrondissement" %}</a></h2>
<div class ='indicator-menu'><a href = '/indicator'>{% trans  "Retour Accueil"%}</a></div>
<table>
<tr>{% if msg %}<td>{%  for m in msg %}{{ m }}{% endfor %}</td>{% endif %}</tr>
<tr>
			<td  coslpan=2>
				 <form action =""  method ="post">
				  <table>
					 <tr> 
					 <td>{{ form.as_table }} </td>
					 </tr>
					 <tr>
					 	<td><input type ="submit"  value ="{% trans  "OK"  %}"> </td>
					 </tr>
				  </table>
				  </form>
			</td>
	</form>
</tr>
<tr>
<td>
	  <table>
	        <thead>
				 <tr>
					 <th>{% trans "Nom" %} </th>
					 <th>{% trans "Latitude" %}</th> 
					 <th>{% trans "Longitude" %}</th>
					 <th>{% trans "Surface" %}</th>
					 <th>{% trans "Date de creation" %}</th>
					 <th>{% trans "Action" %}</th>
				  </tr>
			 </thead>
			 <tbody>
					{% for region in  regions %}
					    <tr>
						  <td>{{ region.name }}</td>
						  <td>{{ region.latitude }}</td>
						  <td>{{ region.longitude}}</td>
						  <td>{{ region.surface}}</td>
						  <td>{{ region.created|date:"Y-m-d" }}</td>	 
						  <td><a href = "/indicator/delete_commune_arrondissement/{{ region.pk }}/communearrondissement">{% trans "Delete" %}</td>
					      <td><a href = "/indicator/edit_commune_arrondissement/{{ region.pk }}/communearrondissement">{% trans "Edit" %}</td>
					    </tr>
			 		 {% endfor %}
			 	</tbody>
		</table>
</tr>
</table>
</div>
{% endblock %}
