{% extends "layout.html" %}
{% load i18n %}
{% block title %}The Jokko Initiative - A RapidSMS Project by Tostan{% endblock %}


{% block stylesheets %}
		<link type="text/css" rel="stylesheet" href="/static/indicator/stylesheets/layout.css" />
		<link type="text/css" rel="stylesheet" href="/static/webui/stylesheets/modules.css" />
{% endblock %}
		
{% block content %}		
<div class="module">
<h3>{% trans "Creation d'une nouvelle zone" %}</h3>
<form action= ""  method = "post">
{{ form.as_table }}
<input type="submit"  value ="{% trans  "GO" %}"   />
</form>
</div>
{% endblock %}
