{% extends "layout.html" %}
{% load i18n %}
{% block title %}The Jokko Initiative - A RapidSMS Project by Tostan{% endblock %}
{% block stylesheets %}
		<link type="text/css" rel="stylesheet" href="/static/indicator/stylesheets/layout.css" />
		<link type="text/css" rel="stylesheet" href="/static/webui/stylesheets/modules.css" />
{% endblock %}
{% block content %}
<div class  ='module'>
<h2>{% trans "Creer un nouveau projet" %}</a></h2>
<div class ='indicator-menu'><a href = '/indicator'>{% trans  "Retour Accueil"%}</a></div>
<table>
<tr>{% if msg %}<td>{%  for m in msg %}{{ m }}{% endfor %}</td>{% endif %}</tr>
<tr>
	<form action = ""   method ="post">
			<td>			 
					<table>
					 <tr><td>{%trans  "Choisir les villages pour le projet village "%}</td></tr>
					 <tr><td>{{ form_village.as_table}}</td></tr>
			             <tr><td><input type ="submit" name ="filtre" value ="{% trans "filtre" %}" /></td></tr>
					 <tr><td>{% trans  "Choisir les indicateurs  pour le projet village "%}</td></tr>
				 	 <tr><td>{{ form_indicator.as_table}}</td></tr>
				 	 <tr><td><input type ="submit"  value ="{% trans  "OK"  %}"></td></tr>
					</table>
		      </td>
	</form>
</tr>
<tr>
<td>
	  <table>
	  <thead>
			 <tr>
				 <th>{% trans "Titre" %} </th>
				 <th>{% trans "Bailleur" %} </th>
				 <th>{% trans "Date de Demarrage" %} </th> 
				 <th>{% trans "Fiches du Projet" %}</th>
				 <th>{% trans "Actions" %}</th>
			 </tr>
	  </thead>
	  <tbody>
			{% for  project in  projects %}
			    <tr>
				  <td>{{  project.titre }}</td>
				  <td>{{  project.bailleur }}</td>
				   <td>{{ project.created|date:"Y-m-d" }}</td>
				   <td>
					    <ol>
					   	{% for fiche in project.fiches.all %}
					   		<li>[{{ fiche.get_period_display  }}]</li>
					    {% endfor %}
					    </ol>
				   </td>
				   <td><a href = "/indicator/delete_project/{{ project.pk }}">[{% trans "Supprimer" %}]</a>
				       <a href = "/indicator/edit_project/{{ project.pk }}">[{% trans "Editer" %}]</a>
					 <a href = "/indicator/project_indicators/{{ project.pk }}">[{% trans "Voir les indicateurs" %}]</a>
				   </td>
			    </tr>
			 {% endfor %}
		</tbody>
		</table>
</tr>
</table>
</div>
{% endblock %}
