{% extends "layout.html" %}
{% load i18n %}
{% block title %}The Jokko Initiative - A RapidSMS Project by Tostan{% endblock %}
{% block stylesheets %}
		<link type="text/css" rel="stylesheet" href="/static/indicator/stylesheets/layout.css" />
		<link type="text/css" rel="stylesheet" href="/static/webui/stylesheets/modules.css" />
{% endblock %}
{% block content %}
<div class ='indicator-menu'><a href = '/indicator'>{% trans  "Retour Accueil"%}</a></div>
<div class="module">
	<h2>{% trans "Are you sure? " %}</h2>
	Are you sure you want to delete the contact called "{{contact.signature}}"? 
	All of the associated data, including message logs, will be removed permanently.
	<form action="" method="post">
	<div>
	<input type="hidden" name="confirm_delete" value="yes" />
	<input type="submit" value="{% trans "Yes, I'm sure" %}" />
	</div>
	</form>
</div>
{% endblock %}