{% extends  "layout.html" %}
{% load i18n %}
{% block title %} {% endblock %}
  {% block stylesheets %}
      <link type="text/css" rel="stylesheet" href="/static/indicator/stylesheets/layout.css" />
	  <link type="text/css" rel="stylesheet" href="/static/webui/stylesheets/modules.css" />
	  <link rel="stylesheet" type="text/css" href="/static/indicator/js/jquery.jqplot.css" />
	  <link rel="stylesheet" type="text/css" href="examples.css" />
  {% endblock %}
  {% block javascripts %} 
  {% endblock %}
  {% block content %}
<div class  ='module'>
<h2>{% trans "Expoter les saisies mensuelles des indicateurs" %}</h2>
<div class ='indicator-menu'><a href = '/indicator'>{% trans  "Retour Accueil"%}</a></div>
<table>
	    <form action =""  method ="post">
		     <tr><td valign='top'>{{ form.as_table}}</td></tr>
		  	 <tr><td><input  type = "submit"  value ="{% trans  'GO' %}" /></td></tr> 		 
		</form>
</table>
</div>
{% endblock %}
