{% extends "layout.html" %}
{% load i18n %}
{% block title %}The Jokko Initiative - A RapidSMS Project by Tostan{% endblock %}
{% block stylesheets %}
		<link type="text/css" rel="stylesheet" href="/static/indicator/stylesheets/layout.css" />
		<link type="text/css" rel="stylesheet" href="/static/webui/stylesheets/modules.css" />
{% endblock %}
{% block content %}
<div class  ='module'>
{% if msg %}
<p>
{%  for m in msg %}
{{ m }}
{% endfor %}
</p>
{% endif %}
<h2>{% trans "Rechercher un indicateur" %}</a></h2>
<div class ='indicator-menu'>
  <a href = '/indicator'>{% trans  "Retour Accueil"%}</a>
</div>
<table width =100% cellpadding = 0 cellspacing = 0 border = 0>
<tr>
<td>
	<h3>  {% trans "Fiches des projets" %}</h3>
	{%  for project  in projects %}
	 <ul>
		{% for fiche in project.fiches.all %}
			<li><a href ='/indicator/fiche/{{fiche.pk}}/add_submission'>
			{%trans  "Saisie fiche " %} &nbsp; {{ fiche.get_period_display }}&nbsp; {% trans  "du projet" %}&nbsp; 
			{{ fiche.project.title }} &nbsp; {{ project.bailleur }} </li></a>
		{% endfor %}
	 </ul>
	{% endfor %}
</td>
</tr>

</table>
</div>
{% endblock %}
