{% extends "layout.html" %}
{% load i18n %}
{% block title %}The Jokko Initiative - A RapidSMS Project by Tostan{% endblock %}
{% block stylesheets %}
		<link type="text/css" rel="stylesheet" href="/static/indicator/stylesheets/layout.css" />
		<link type="text/css" rel="stylesheet" href="/static/webui/stylesheets/modules.css" />
{% endblock %}
{% block content %}
<div class  ='module'>
<h2>{% trans "Saisie des fiches des projets (cliquez sur un lien pour saisir la fiche)" %}</a></h2>
<div class ='indicator-menu'><a href = '/indicator'>{% trans  "Retour Accueil"%}</a></div>
<table width =100% cellpadding = 0 cellspacing = 0 border = 0>
<tr>{% if msg %}<td>{%  for m in msg %}{{ m }}{% endfor %}</td>{% endif %}</tr>
{% for name , project_list  in projects %}
	<tr>
	<td>
		 <dd>{{ name }}</dd>
		 {% for project in project_list %}
		 <ul>
			{% for fiche in project.fiches.all %}
				<li><a href ='/indicator/fiche/{{fiche.pk}}/add_submission/{{ fiche.project.pays.pk }}'>
				{%trans  "Fiche " %} &nbsp; {{ fiche.get_period_display }}&nbsp; {% trans  "du projet" %}&nbsp; {{ fiche.project.title }} &nbsp; {{ project.bailleur }} </li></a>
			{% endfor %}
		 </ul>
		{% endfor %}
	</td>
	</tr>
{% endfor %}
</table>
</div>
{% endblock %}
