{% extends "layout.html" %}
{% load i18n %}
{% block title %}The Jokko Initiative - A RapidSMS Project by Tostan{% endblock %}
{% block stylesheets %}
		<link type="text/css" rel="stylesheet" href="/static/indicator/stylesheets/layout.css" />
		<link type="text/css" rel="stylesheet" href="/static/webui/stylesheets/modules.css" />
{% endblock %}
{% block content %}
<div class  ='module'>
<h2>{% trans "Saisie de fiche" %}{{ fiche.get_period_display }}</a></h2>
<div class ='indicator-menu'><a href = '/indicator'>{% trans  "Retour Accueil"%}</a></div>
<table>
<tr>{% if msg %}<td>{%  for m in msg %}{{ m }}{% endfor %}</td>{% endif %}</tr>
<tr>
	<form action = ""   method ="post">
			<td  coslpan =2>
			  <table>
				 <tr> 
				 <td>{{ form.as_table }} </td>
				 </tr>
				 <tr>
				 	<td><input type ="submit"  value ="{% trans  "OK"  %}"> </td>
				 </tr>
				 
			  </table>
			</td>
	</form>
</tr>
<tr>
<td>
	  <table>
	         <thead>
			 <tr>
				 <th>{% trans "Date de saisie" %} </th>
				 <th>{% trans "Fiche" %} </th>
				 <th>{% trans "Projet" %}</th> 
				 <th>{% trans "village" %}</th>
				 <th>{% trans "Actions " %}</th>
			</tr>
			</thead>
			<tbody>
			 {% for  submission in submissions %}
			 	<tr>     
				 		 <td>{{  submission.date|date:"Y-m-d"}} </td>
						 <td>{{  submission.fiche }}</td>
						 <td>{{  submission.fiche.project}} </td>
						 <td>{{  submission.village }}</td>
						 <td>
						 	<a href = '/indicator/submission/{{ submission.pk }}/edit_submission'>[{% trans "Edition" %}]</a>
						 	<a href = '/indicator/submission/{{ submission.pk }}/delete_submission'>[{% trans "Delete" %}]</a>
						 </td>
				</tr>
			 </tbody>
			 {% endfor %}
		</table>
</td>
</tr>
</table>
</div>
{% endblock %}