{% extends  "layout.html" %}
{% load i18n %}
{% block title %} {% endblock %}
  {% block stylesheets %}
      <link type="text/css" rel="stylesheet" href="/static/indicator/stylesheets/layout.css" />
	  <link type="text/css" rel="stylesheet" href="/static/webui/stylesheets/modules.css" />
	  <link rel="stylesheet" type="text/css" href="/static/indicator/js/jquery.jqplot.css" />
	  <link rel="stylesheet" type="text/css" href="examples.css" />
  {% endblock %}
   {% block content %}
<div class  ='module'>
<h2>{% trans "Expoter les indicateurs" %}</a></h2>
<div class ='indicator-menu'><a href = '/indicator'>{% trans  "Retour Accueil"%}</a></div>
<table>
<tr>{% if msg %}<td>{%  for m in msg %}{{ m }}{% endfor %}</td>{% endif %}</tr>
<tr>
	    <form action =""  method ="post">
		       	<td valign='top'>
		    		{{ form.as_ul}}
		  		 <br/>
		  		 <input  type = "submit"  value ="{% trans  'GO' %}" />
		  	</td>
		</form>
</tr> 	
</table>
</div>
{% endblock %}
