{% extends "layout.html" %}
{% load i18n %}
{% block title %}The Jokko Initiative - A RapidSMS Project by Tostan{% endblock %}
{% block stylesheets %}
		<link type="text/css" rel="stylesheet" href="/static/indicator/stylesheets/layout.css" />
		<link type="text/css" rel="stylesheet" href="/static/webui/stylesheets/modules.css" />
{% endblock %}
{% block content %}
<table width =100% cellpadding = 0 cellspacing = 0 border = 0>
<tr>
<td>
	<h3>  {% trans "Gestion des projects" %}</h3>
	<ul>
		<li><a href = "/indicator/">{% trans "Retour a la page d'accueil de Indicateur" %}</a></li>
	</ul>
</td>
</tr>

<tr>
<td>
	<h3>  {% trans "Gestion des Utilisateurs de Saisie" %}</h3>
	<ul>
		<li><a href = "/indicator/add_user">{% trans "Ajouter un nouveau utilisateur pour le remplissage des Fiches" %}</a></li>
		<li><a href = "/indicator/search_user">{% trans "Rechercher un utilisateur remplissant les fiches" %}</a></li>
		<li><a href = "/indicator/export_user">{% trans "Exporter les utilisateurs qui remplissent les fiches" %}</a></li>
	</ul>
</td>
</tr>

</table>

{% endblock %}