{% extends "layout.html" %}
{% load i18n %}
{% block title %}The Jokko Initiative - A RapidSMS Project by Tostan{% endblock %}
{% block stylesheets %}
		<link type="text/css" rel="stylesheet" href="/static/indicator/stylesheets/layout.css" />
		<link type="text/css" rel="stylesheet" href="/static/webui/stylesheets/modules.css" />
{% endblock %}
{% block content %}
<div class  ='module'>
{% if msg %}
<p>
{%  for m in msg %}
{{ m }}
{% endfor %}
</p>
{% endif %}
<h2>{% trans "Export des donnees du projet" %}</a></h2>
<div class ='indicator-menu'>
  <a href = '/indicator'>{% trans  "Retour Accueil"%}</a>
</div>
<table>
<td>
	<ul>
		<li><a href = "/indicator/project_exports">{% trans "Export projets" %}</a></li>
		<li><a href = "/indicator/indicator_exports">{% trans "Export indicateurs" %}</a></li>
		<li><a href = "/indicator/user_exports">{% trans "Export utilisateurs" %}</a></li>
		<li><a href = "/indicator/village_exports">{% trans "Export villages" %}</a></li>
		<li><a href = "/indicator/data_exports">{% trans "Export des saisies par mois/village/projet" %}</a></li>
	</ul>
</td>
</tr>
</table>
</div>
{% endblock %}
