{% extends "layout.html" %}
{% load i18n %}
{% block title %}The Jokko Initiative - A RapidSMS Project by Tostan{% endblock %}
{% block stylesheets %}
		<link type="text/css" rel="stylesheet" href="/static/indicator/stylesheets/layout.css" />
		<link type="text/css" rel="stylesheet" href="/static/webui/stylesheets/modules.css" />
{% endblock %}
{% block content %}
<table width =100% cellpadding = 0 cellspacing = 0 border = 0>
<tr>
<td>
	<h3>  {% trans "Gestion des Indicateurs" %}</h3>
	<ul>
		<li><a href = "/indicator/">{% trans "Retour a la page d'accueil de Indicateur" %}</a></li>
	</ul>
</td>
</tr>


<tr>
<td>
	<h3>  {% trans "Gestion des projects SENEGAL" %}</h3>
	<ul>
		<li><a href = "/indicator/add_indicator">{% trans "Ajouter un indicateur" %}</a></li>
		<li><a href = "/indicator/search_indicator">{% trans "Rechercher un indicateur" %}</a></li>
		<li><a href = "/indicator/export_indicator">{% trans "Exporter la liste des indicateurs" %}</a></li>
		<li><a href = "/indicator/indicator_stats">{% trans "Voir les statistiques des  projets sur un indicateur" %}</a></li>
		<li><a href = "/indicator/indicator_stats">{% trans "Voir les statistiques des  des indicateurs sur un projet" %}</a></li>
		<li><a href = "/indicator/indicator_stats">{% trans "Les chiffres" %}</a></li>	
	</ul>
</td>
</tr>

<tr>
<td>
	<h3>  {% trans "Gestion des projects GUINEE KONAKRY" %}</h3>
	<ul>
	<li><a href = "/indicator/add_indicator">{% trans "Ajouter un indicateur" %}</a></li>
	<li><a href = "/indicator/search_indicator">{% trans "Rechercher un indicateur" %}</a></li>
	<li><a href = "/indicator/export_indicator">{% trans "Exporter la liste des indicateurs" %}</a></li>
	<li><a href = "/indicator/indicator_stats">{% trans "Voir les statistiques des  projets sur un indicateur" %}</a></li>
	<li><a href = "/indicator/indicator_stats">{% trans "Voir les statistiques des  des indicateurs sur un projet" %}</a></li>
	<li><a href = "/indicator/indicator_stats">{% trans "Les chiffres" %}</a></li>
	</ul>
</td>
</tr>


<tr>
<td>
	<h3>  {% trans "Gestion des projects GUINEE BISSAU" %}</h3>
	<ul>
	<li><a href = "/indicator/add_indicator">{% trans "Ajouter un indicateur" %}</a></li>
	<li><a href = "/indicator/search_indicator">{% trans "Rechercher un indicateur" %}</a></li>
	<li><a href = "/indicator/export_indicator">{% trans "Exporter la liste des indicateurs" %}</a></li>
	<li><a href = "/indicator/indicator_stats">{% trans "Voir les statistiques sur un indicateur" %}</a></li>
	</ul>
</td>
</tr>
<tr>
<td>
	<h3>  {% trans "Gestion des projects GUINEE BISSAU" %}</h3>
	<ul>
		<li><a href = "/indicator/add_indicator">{% trans "Ajouter un indicateur" %}</a></li>
		<li><a href = "/indicator/search_indicator">{% trans "Rechercher un indicateur" %}</a></li>
		<li><a href = "/indicator/export_indicator">{% trans "Exporter la liste des indicateurs" %}</a></li>
		<li><a href = "/indicator/indicator_stats">{% trans "Voir les statistiques sur un indicateur" %}</a></li>	
	</ul>
</td>
</tr>

<tr>
<td>
	<h3>  {% trans "Gestion des projects GAMBIE" %}</h3>
	<ul>
		<li><a href = "/indicator/add_indicator">{% trans "Ajouter un indicateur" %}</a></li>
		<li><a href = "/indicator/search_indicator">{% trans "Rechercher un indicateur" %}</a></li>
		<li><a href = "/indicator/export_indicator">{% trans "Exporter la liste des indicateurs" %}</a></li>
		<li><a href = "/indicator/indicator_stats">{% trans "Voir les statistiques sur un indicateur" %}</a></li>
	
	</ul>
</td>
</tr>


<tr>
<td>
	<h3>  {% trans "Gestion des projects SOMALIE" %}</h3>
	<ul>
	<li><a href = "/indicator/add_indicator">{% trans "Ajouter un indicateur" %}</a></li>
	<li><a href = "/indicator/search_indicator">{% trans "Rechercher un indicateur" %}</a></li>
	<li><a href = "/indicator/export_indicator">{% trans "Exporter la liste des indicateurs" %}</a></li>
	<li><a href = "/indicator/indicator_stats">{% trans "Voir les statistiques sur un indicateur" %}</a></li>
	</ul>
</td>
</tr>

<tr>
<td>
	<h3>  {% trans "Gestion des projects DJIBOUTI" %}</h3>
	<ul>	
	<li><a href = "/indicator/add_indicator">{% trans "Ajouter un indicateur" %}</a></li>
	<li><a href = "/indicator/search_indicator">{% trans "Rechercher un indicateur" %}</a></li>
	<li><a href = "/indicator/export_indicator">{% trans "Exporter la liste des indicateurs" %}</a></li>
	<li><a href = "/indicator/indicator_stats">{% trans "Voir les statistiques des sur un indicateur" %}</a></li>
	</ul>
</td>
</tr>

<tr>
<td>
	<h3>  {% trans "Gestion des projects MAURITANIE" %}</h3>
	<ul>
	<li><a href = "/indicator/add_indicator">{% trans "Ajouter un indicateur" %}</a></li>
	<li><a href = "/indicator/search_indicator">{% trans "Rechercher un indicateur" %}</a></li>
	<li><a href = "/indicator/export_indicator">{% trans "Exporter la liste des indicateurs" %}</a></li>
	<li><a href = "/indicator/indicator_stats">{% trans "Voir les statistiques des sur un indicateur" %} </li>
	</ul>
</td>
</tr>

</table>

{% endblock %}