{% extends "layout.html" %}
{% load i18n %}
{% block title %}The Jokko Initiative - A RapidSMS Project by Tostan{% endblock %}
{% block stylesheets %}
		<link type="text/css" rel="stylesheet" href="/static/indicator/stylesheets/layout.css" />
		<link type="text/css" rel="stylesheet" href="/static/webui/stylesheets/modules.css" />
{% endblock %}
{% block content %}
<table width =100% cellpadding = 0 cellspacing = 0 border = 0>
<tr>
<td>
	<h3>  {% trans "Gestion des statistiques" %}</h3>
	<ul>
		<li><a href = "/indicator/">{% trans "Retour a la page d'accueil de Indicateur" %}</a></li>
	</ul>
</td>
</tr>
<tr>
<td>
	<ul>
		<li><a href = "/indicator/parametrage_project">{% trans "Export des projects" %}</a></li>
		<li><a href = "/indicator/parametrage_indicator">{% trans "Export des indicateurs" %}</a></li>
		<li><a href = "/indicator/parametrage_user">{% trans "Export des utilisateurs" %}</a></li>
	</ul>
</td>
</tr>

</table>

{% endblock %}