{% extends "layout.html" %}
{% load i18n %}
{% block title %}The Jokko Initiative - A RapidSMS Project by Tostan{% endblock %}
{% block stylesheets %}
		<link type="text/css" rel="stylesheet" href="/static/indicator/stylesheets/layout.css" />
		<link type="text/css" rel="stylesheet" href="/static/webui/stylesheets/modules.css" />
{% endblock %}
{% block content %}
<div class  ='module'>
<h2>{% trans "Rechercher un projet" %}</a></h2>
<div class ='indicator-menu'><a href = '/indicator'>{% trans  "Retour Accueil"%}</a></div>
<table width =100% cellpadding=0 cellspacing =0 border= 0>
<tr>
	<form action = ""   method ="post">
			<td>
			  <table>
				 <tr> 
				 	 <td>{{ form.as_table }}</td>
				 </tr>
				 <tr>
				 	 <td><input type ="submit"  value ="{% trans  "OK"  %}"> </td>
				 </tr>
				 
			  </table>
			</td>
	</form>
</tr>
<tr>
<td>
	  <table>
	  <thead>
			 <tr>
			 <th>{% trans "Titre" %} </th>
			 <th>{% trans "Bailleur" %} </th>
			 <th>{% trans "Date de Demarrage" %} </th> 
			 <th>{% trans "Fiches du Projet" %}</th>
			  <th>{% trans "Actions" %}</th>
			 </tr>
	   </thead>
	   <tbody> 
			{% for  project in  projects %}
			    <tr>
				  <td>{{  project.titre }}</td>
				  <td>{{  project.bailleur }}</td>
				   <td>{{ project.created|date:"Y-m-d" }}</td>
				   <td>
							    <ul>
							   	{% for fiche in project.fiches.all %}
							   		<li> <a href = '/indicator/fiche/{{ fiche.pk }}/add_submission'>[{{ fiche.get_period_display  }}]</a></li>
							    {% endfor %}
							    </ul>
				   </td>
				   <td><a href = "/indicator/delete_project/{{ pay.pk }}">[{% trans "Supprimer" %}]</a>
				       <a href = "/indicator/delete_project/{{ pay.pk }}">[{% trans "Editer" %}]</a>
				   </td>
			    </tr>
			 {% endfor %}
		 </tbody>
		</table>
</tr>
</table>
</div>
{% endblock %}