{% extends "smsforum/template_manage.html" %}
{% load i18n %}
{% block title %}The Jokko Initiative - A RapidSMS Project by Tostan{% endblock %}
{% block content %}

<div class="module">

<h1>{% trans "Manage Site Data" %}</h1>
<h4><i>{% trans "What would you like to do?" %}</i></h4>

<ul>
<li>
	<a href="{% url smsforum.views.regions %}">
		{% trans "Manage communities" %}
	</a>
</li>
<li>
	<a href="{% url smsforum.views.citizens %}">
		{% trans "Manage citizens" %}
	</a>
</li>
<li>
	<a href="{% url smsforum.views.messages %}">
		{% trans "Edit, translate, and categorize messages" %}
	</a>
</li>
<li>
	<a href="{% url smsforum.views.access %}">
		{% trans "Manage accessibility of the SMS and websites" %}
	</a>
</li>

</div>
{% endblock %}
