{% extends "layout"  %}
{% block  "content"}
<div class ='module'>
<table>
{%  if current_message %}

<tr>
<td colspan = "4"> 
Date : {{ current_message.date }}</td>
Relay: {{ current_message.relay.first_name }} ""  {{ current_message.relay.last_name }}
Message: {{ current_message.last_name }}
<td>
</tr>
{% endif %}
<tr>
<td colspan ="4"> Filtre   
<select name = "message_type" >
<option  value ='class'> class</option>
<option value  = 'cmc'>cmc</option>
</select>
</td>
</tr>

<tr>
{%   for  message in  messages   %}
	<td> {{ message.type }}<td>
	<td> {{ message.content }}</td>
	<td> {{ message.date }} <td>
	<td> {{ message.relay }} </td>
	
{%  endofor %}

<tr>
</table>
</div>
 
{% endblock %}

