{% extends "layout.html" %}
{% load i18n %}
{% block title %}The Jokko Initiative - A RapidSMS Project by Tostan{% endblock %}
{% block stylesheets %}
		<link type="text/css" rel="stylesheet" href="/static/indicator/stylesheets/layout.css" />
		<link type="text/css" rel="stylesheet" href="/static/webui/stylesheets/modules.css" />
{% endblock %}
{% block content %}
<div class  ='module'>
{% if msg %}
<p>
{%  for m in msg %}
{{ m }}
{% endfor %}
</p>
{% endif %}
<h2>{% trans "Saisie de fiche" %} {{ fiche.get_period_display }}</a></h2>
<div class ='indicator-menu'> 
  <a href = '/indicator'>{% trans  "Retour Accueil"%}</a>
</div>
<table>
<tr>
	<form action =""   method ="post">
			<td  coslpan =2>
			  <table>
				 <tr> 
				 <td>{{ form.as_table }} </td>
				 <td><input type ='hidden' name ='submission_id' value ='{{ submission_id }}'></td>
				 </tr>
				 <tr>
				 	<td><input type ="submit"  value ="{% trans  "Enregistrer"  %}"> </td>
				 </tr>
				 
			  </table>
			</td>
	</form>
</tr>
<tr>
<tr>
<td>{%  trans  "Enregister d'abord la saisie avant de passer a l'ecran suivant" %}</td>
</tr>
<td>
	{% if indicators.has_previous %} 
	<form  ation =''>
	    <input type='hidden'  name = "page" value  ="{{ indicators.prvious_page_number }}" /> 
		<input type='submit'  name = "previous" value  ="{% trans 'Ecran precedent' %}" /> 
		<input type ='hidden' name ='submission_id' value ='{{ submission_id }}'>
	</form>
	{% endif %}

	{% if indicators.has_next %} 
	<form  ation =''>
	    <input type='hidden'  name = "page" value  ="{{ indicators.next_page_number }}" /> 
		<input type='submit'  name = "next" value  ="{% trans 'Ecran suivant' %}" /> 
		<input type ='hidden' name ='submission_id' value ='{{ submission_id }}'>
	</form>
	{% endif %}
</td>
</tr>

<tr>
<td>
	  <table>
	         <thead>
			 <tr>
				 <th>{% trans "Nom du Saisisseur" %} </th>
				 <th>{% trans "Date de Saisie" %} </th>
				 <th>{% trans "Type de la Fiche" %}</th> 
				 <th>{% trans "Titre du  Projet " %}</th>
				 <th>{% trans "Bailleur du  Projet " %}</th>
				 <th>{% trans "Actions " %}</th>
			</tr>
			</thead>
			<tbody>
			 {% for  submission in submissions %}
			 	<tr>     
				 		 <td>{{  submission.user}} </td>
				 		 <td>{{  submission.date|date:"Y-m-d"}} </td>
						 <td>{{  submission.fiche.get_period_display }}</td>
						 <td>{{  submission.fiche.project.title }} </td>
						 <td>{{  submission.fiche.project.bailleur }}</td>
						 <td>
						 	<a href = '/indicator/submission/{{ submission.pk }}/edit_submission'>[{% trans "Edition" %}]</a>
						 	<a href = '/indicator/submission/{{ submission.pk }}/delete_submission'>[{% trans "Delete" %}]</a>
						 </td>
				</tr>
			 </tbody>
			 {% endfor %}
		</table>
</td>
</tr>

</table>
</div>
{% endblock %}