{% extends "layout.html" %}
{% load i18n %}
{% block title %}The Jokko Initiative - A RapidSMS Project by Tostan{% endblock %}
{% block stylesheets %}
		<link type="text/css" rel="stylesheet" href="/static/indicator/stylesheets/layout.css" />
		<link type="text/css" rel="stylesheet" href="/static/webui/stylesheets/modules.css" />
{% endblock %}
{% block content %}
<div class  ='module'>
{% if msg %}
<p>
{%  for m in msg %}
{{ m }}
{% endfor %}
</p>
{% endif %}
<h2>{% trans "Liste de  tous les projets" %}</a></h2>
<div class ='indicator-menu'>
  <a href = '/indicator'>{% trans  "Retour Accueil"%}</a>
</div>
<table>
	  <thead>
			 <tr>
				 <th>{% trans "Titre" %} </th>
				 <th>{% trans "Bailleur" %} </th>
				 <th>{% trans "Date de Demarrage" %} </th> 
				 <th>{% trans "Fiches du Projet" %}</th>
				 <th>{% trans "Actions" %}</th>
			 </tr>
	  </thead>
	  <tbody>
			{% for  project in  projects %}
			    <tr>
				  <td>{{  project.titre }}</td>
				  <td>{{  project.bailleur }}</td>
				   <td>{{ project.created|date:"Y-m-d" }}</td>
				   <td>
					    <ol>
					   	{% for fiche in project.fiches.all %}
					   		<li><a href = '/indicator/fiche/{{ fiche.pk }}/add_submission'>[{{ fiche.get_period_display  }}]</a></li>
					    {% endfor %}
					    </ol>
				   </td>
				   <td><a href = "/indicator/delete_project/{{ project.pk }}">[{% trans "Supprimer" %}]</a>
				       <a href = "/indicator/edit_project/{{ project.pk }}">[{% trans "Editer" %}]</a>
				       <a href = "/indicator/project_indicators/{{ project.pk }}">[{% trans "Voir les indicateurs" %}]</a>
				   </td>
			    </tr>
			 {% endfor %}
		</tbody>
</table>
</div>
{% endblock %}
