{% load i18n %}

<div class="module">
    <h2>{% trans "Communities" %}</h2>
    <form action="" method="POST">
    <table>
        <thead>
            <tr>
                <th scope="col">{% trans "Name of the Community" %}</th>
                <th scope="col">{% trans "Number of Citizens" %}</th>
                <th scope="col">{% trans "Sent by the Community" %}</th>
                <th scope="col">{% trans "Sent by Tostan" %}</th>
            </tr>
        </thead>
		<tbody>{% if villages.object_list %}{% for village in villages.object_list %}
			<tr>
				<td><a href="/village/{{ village.pk }}"{% if village.name %}>{{ village.name }}{% else %} class="unknown">Unknown{% endif %}</a></td>
                <td>{% if village.member_count %}{{ village.member_count }}{% else %}<span class="na">n/a</span>{% endif %}</td>
                <td>{% if village.incoming_message_count %}{{ village.incoming_message_count }}{% else %}<span class="na">n/a</span>{% endif %}</td>
				<td>{% if village.outgoing_message_count %}{{ village.outgoing_message_count }}{% else %}<span class="na">n/a</span>{% endif %}*</td>
			</tr>{% endfor %}{% else %}
			<tr class="no-data">
				<td colspan="4">
					{% trans "No villages yet" %}
					<a href="/village/add" class="add">
						{% trans "Add a Village" %}
					</a>
				</td>
			</tr>{% endif %}
		</tbody>
    </table>
    </form>
</div>


